/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: #8a8a8a;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  width: 400px;
  background-color: white;
}

.headline {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1.3rem;
}

.form-content {
  padding: 1.5rem;
}

.input-group {
  margin-bottom: 0.7rem;
  position: relative;
}

h2 {
  color: white;
}
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label,
.input-group input,
.input-group small {
  display: block;
  width: 100%;
}
.input-group-check {
  position: relative;
}
.input-group,
.input-group-check input {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.input-group button {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 0.8rem;
  text-transform: uppercase;
  border: none;
  margin-top: 0.6rem;
}

.fa-exclamation-circle {
  position: absolute;
  right: 0.5rem;
  top: 2.1rem;
  color: #c61313;
  visibility: hidden;
}
.fa-check-circle {
  position: absolute;
  right: 0.5rem;
  top: 2.1rem;
  color: #239207;
  visibility: visible;
}

.input-group small {
  color: #c61313;
  visibility: hidden;
  /* display: none; */
}

.error input {
  border: 1px solid #c61313;
  outline: 1px solid #c61313;
}

.error .fa-exclamation-circle,
.error small {
  visibility: visible;
}

.success input {
  border: 1px solid #239207;
  outline: 1px solid #239207;
}

.success .fa-check-circle {
  visibility: visible;
}

/* 






.input-group {
  margin-bottom: 0.7rem;
  position: relative;
}
.input-group-check {
  position: relative;
}

.input-group label,
.input-group input,
.input-group small,
.input-group-check small {
  display: block;
  width: 100%;
}

.input-group input {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.input-group button {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 0.8rem;
  text-transform: uppercase;
  border: none;
  margin-top: 0.6rem;
}

.fa-exclamation-circle {
  position: absolute;
  right: 0.5rem;
  top: 2.1rem;
  color: #c61313;
  visibility: hidden;
}
.input-group-check .fa-exclamation-circle,
.input-group-check .fa-check-circle {
  right: 0.5rem;
  top: 0.4rem;
}
.fa-check-circle {
  position: absolute;
  right: 0.5rem;
  top: 2.1rem;
  color: #239207;
  visibility: hidden;
}

.input-group-check small,
.input-group small {
  color: #c61313;
  visibility: hidden;
  /* display: none; */

/* 
.error input {
  border: 1px solid #c61313;
  outline: 1px solid #c61313;
}

.error .fa-exclamation-circle,
.error small {
  visibility: visible;
}

.success input {
  border: 1px solid #239207;
  outline: 1px solid #239207;
}

.success .fa-check-circle {
  visibility: visible;
} */
